




<el-form-item label="服务" label-width="80px" prop="service">
  <el-checkbox-group>
    <el-checkbox label="门店管理" disabled></el-checkbox>
    <el-checkbox label="采购进货" disabled></el-checkbox>
    <el-checkbox label="微信店" disabled></el-checkbox>
    <el-checkbox label="库存管理" disabled></el-checkbox>
    <el-checkbox label="APP店"></el-checkbox>
    <el-checkbox label="使用积分付款"></el-checkbox>
  </el-checkbox-group>
</el-form-item>
<el-form-item label="联系人" label-width="80px" prop="person">
  <el-input></el-input>
</el-form-item>
<el-form-item label="联系电话" label-width="80px" prop="phone">
  <el-input  ></el-input>
</el-form-item>
<el-form-item label="备注" label-width="80px" prop="remark" class="remark">
  <el-input  type="textarea" :row="8"></el-input>
</el-form-item>
<el-form-item label="负责人" label-width="80px" prop="responsib">
  <el-select  placeholder="选择负责人">
    <el-option label="LTS美国市场" value="LTS_USA"></el-option>
  </el-select>
</el-form-item>
